exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "arrows", "axis", "barplot", "lines", 
"mtext", "par", "points", "polygon")
importFrom("methods", "is")
importFrom("modEvA", "mod2obspred")
importFrom("stats", "anova", "as.formula", "binomial", "complete.cases", "cor", "dist",
           "extractAIC", "fitted", "glm", "lm", "na.omit", "nobs", "p.adjust",
           "p.adjust.methods", "poly", "prcomp", "predict", "quantile", "step", "update", 
           "na.pass", "t.test", "weighted.mean")
importFrom("utils", "combn", "installed.packages", "read.csv", "stack",
           "write.csv", "setTxtProgressBar", "txtProgressBar")

